<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Keep Control app - manage your life yourself!</title>
  <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container" id="header">
    <div class="row">
      <div class="col-sm" id="previousWeek">
        <h1>&lt;</h1>
      </div>
      <div class="col-sm" id="month">
        <h3>June 2022</h3>
      </div>
      <div class="col-sm" id="calendarName">
        <h4 align="right">My life calendar</h4>
      </div>
      <div class="col-sm" id="activeUser">
        <h2 align="right">N</h2>
      </div>
      <div class="col-sm" id="settings">
        <h4 align="right">Settings</h4>
      </div>
      <div class="col-sm" id="nextWeek">
        <h1 align="right">&gt;</h1>
      </div>
    </div>
  </div>
  <div class="container" id="week">
    <div class="row">
      <div class="col-sm" id="monday">
        <table class="table">
          <thead>
            <tr >
              <th scope="col">Monday 06.06</th>
            </tr>
          </thead>
          <tbody>
            <tr >
              <td>Task 1</td>
            </tr>
            <tr >
              <td>Task 2</td>
            </tr>
            <tr >
              <td>Task 3</td>
            </tr>
            <tr >
              <td>Task 4</td>
            </tr>
            <tr >
              <td>Task 5</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm" id="tuesday">
        <table class="table">
          <thead>
          <tr >
            <th scope="col">Tuesday 07.06</th>
          </tr>
          </thead>
          <tbody>
          <tr >
            <td>Task 1</td>
          </tr>
          <tr >
            <td>Task 2</td>
          </tr>
          <tr >
            <td>Task 3</td>
          </tr>
          <tr >
            <td>Task 4</td>
          </tr>
          <tr >
            <td>Task 5</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm" id="wednesday">
        <table class="table">
          <thead>
          <tr >
            <th scope="col">Wednesday 08.06</th>
          </tr>
          </thead>
          <tbody>
          <tr >
            <td>Task 1</td>
          </tr>
          <tr >
            <td>Task 2</td>
          </tr>
          <tr >
            <td>Task 3</td>
          </tr>
          <tr >
            <td>Task 4</td>
          </tr>
          <tr >
            <td>Task 5</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm" id="thursday">
        <table class="table">
          <thead>
          <tr >
            <th scope="col">Thursday 09.06</th>
          </tr>
          </thead>
          <tbody>
          <tr >
            <td>Task 1</td>
          </tr>
          <tr >
            <td>Task 2</td>
          </tr>
          <tr >
            <td>Task 3</td>
          </tr>
          <tr >
            <td>Task 4</td>
          </tr>
          <tr >
            <td>Task 5</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm" id="friday">
        <table class="table">
          <thead>
          <tr >
            <th scope="col">Friday 10.06</th>
          </tr>
          </thead>
          <tbody>
          <tr >
            <td>Task 1</td>
          </tr>
          <tr >
            <td>Task 2</td>
          </tr>
          <tr >
            <td>Task 3</td>
          </tr>
          <tr >
            <td>Task 4</td>
          </tr>
          <tr >
            <td>Task 5</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm" id="weekends">
        <div class="row" id="saturday">
          <table class="table">
            <thead>
            <tr >
              <th scope="col">Saturday 11.06</th>
            </tr>
            </thead>
            <tbody>
            <tr >
              <td>Task 1</td>
            </tr>
            <tr >
              <td>Task 2</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="row" id="sunday">
          <table class="table">
            <thead>
            <tr >
              <th scope="col">Sunday 12.06</th>
            </tr>
            </thead>
            <tbody>
            <tr >
              <td>Task 1</td>
            </tr>
            <tr >
              <td>Task 2</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="container" id="intermediate">
    <div class="row">
      <div class="col-sm" id="previous">
        <h1>&lt;</h1>
      </div>
      <div class="col-sm" id="next">
        <h1 align="right">&gt;</h1>
      </div>
    </div>
  </div>
  <div class="container" id="userLists">
    <div class="row">
      <div class="col-sm" id="list1">
        <table class="table">
          <thead>
          <tr >
            <th scope="col">Travel</th>
          </tr>
          </thead>
          <tbody>
          <tr >
            <td>Task 1</td>
          </tr>
          <tr >
            <td>Task 2</td>
          </tr>
          <tr >
            <td>Task 3</td>
          </tr>
          <tr >
            <td>Task 4</td>
          </tr>
          <tr >
            <td>Task 5</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm" id="list2">
        <table class="table">
          <thead>
          <tr >
            <th scope="col">Work</th>
          </tr>
          </thead>
          <tbody>
          <tr >
            <td>Task 1</td>
          </tr>
          <tr >
            <td>Task 2</td>
          </tr>
          <tr >
            <td>Task 3</td>
          </tr>
          <tr >
            <td>Task 4</td>
          </tr>
          <tr >
            <td>Task 5</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm" id="list3">
        <table class="table">
          <thead>
          <tr >
            <th scope="col">Others</th>
          </tr>
          </thead>
          <tbody>
          <tr >
            <td>Task 1</td>
          </tr>
          <tr >
            <td>Task 2</td>
          </tr>
          <tr >
            <td>Task 3</td>
          </tr>
          <tr >
            <td>Task 4</td>
          </tr>
          <tr >
            <td>Task 5</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm" id="list4">
        <table class="table">
          <thead>
          <tr >
            <th scope="col">Sport</th>
          </tr>
          </thead>
          <tbody>
          <tr >
            <td>Task 1</td>
          </tr>
          <tr >
            <td>Task 2</td>
          </tr>
          <tr >
            <td>Task 3</td>
          </tr>
          <tr >
            <td>Task 4</td>
          </tr>
          <tr >
            <td>Task 5</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm" id="list5">
        <table class="table">
          <thead>
          <tr >
            <th scope="col">Hobbies</th>
          </tr>
          </thead>
          <tbody>
          <tr >
            <td>Task 1</td>
          </tr>
          <tr >
            <td>Task 2</td>
          </tr>
          <tr >
            <td>Task 3</td>
          </tr>
          <tr >
            <td>Task 4</td>
          </tr>
          <tr >
            <td>Task 5</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
</html>